@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #404041;
  margin: 0;
}

header h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: #ed458b;
  font-size: 3rem;
}

header span {
  color: #e6e7e8;
  font-weight: 300;
}

button {
  border: none;
  outline: none;
  background-color: #929497;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 5px 30px;
  font-weight: 300;
}

button:disabled {
  background-color: #d0d2d3;
}

button:hover {
  background-color: #eb008b;
  transition: 0.4s;
}

input {
  font-size: 1.8rem;
  padding-left: 10px;
  font-weight: 300;
}

input::placeholder {
  color: #d0d2d3;
  font-weight: 300;
}

main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#min-max-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#min-max-form button {
  margin-top: 20px;
}

#min-max-display {
  font-weight: 300;
  font-size: 1.5rem;
  color: #404041;
  letter-spacing: 1.8px;
}

#min-max-display span {
  font-weight: 700;
}

#guess-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 500px;
}

.guess-form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#guess-form button {
  min-width: 220px;
}

#last-guess-was {
  font-weight: 300;
  font-size: 1.5rem;
  color: #404041;
}

#guess-number-display {
  color: #eb008b;
  font-size: 12rem;
}

#guess-alert {
  font-weight: 300;
  font-size: 1.5rem;
  color: #404041;
}

#guess-counter-display {
  margin-top: 20px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 1.8rem;
}

#reset-button {
  min-width: 500px;
  margin: 20px auto;
}

.display-none {
  display: none !important;
}
